{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
    
    
<section class="products section">

	<div class="container">
    <h1>Supression du produit</h1>
		<div class="alert alert-success" role="alert">
  A simple success alert—check it out!
</div>
	</div>
</section>







{% endblock %}
